<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>じゃんけん結果</title>
</head>
<body>
  <h2>結果</h2>
  <p>あなた：<%= user %></p>
  <p>コンピュータ：<%= cpu %></p>
  <p>結果：<%= result %></p>
  <p>勝ち数：<%= win %>／総試合数：<%= total %></p>
  <a href="/public/janken_radio.html">もう一度</a>
</body>
</html>
